{% extends "base.html" %}
{% block content %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap w-full mb-20">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Flavourful Ice Creams</h1>
          <div class="h-1 w-20 bg-[#c06c84] rounded"></div>
        </div>
        <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">Welcome to Frosty Delights, where each scoop is a taste of happiness! From classic favorites to unique creations, our ice creams are made with the finest ingredients to ensure a creamy, flavorful experience. Whether you're in the mood for a simple cone or a decadent sundae, our friendly staff is here to make your sweet dreams come true. Come chill with us at Frosty Delights and treat yourself to a scoop of joy!</p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://wallpapers.com/images/featured/ice-cream-background-gudzr50hbe61ehdb.jpg" alt="content">
            <h3 class="tracking-widest text-[#c06c84] text-xs font-medium title-font">Chocolate</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Nutty Chocolate</h2>
            <p class="leading-relaxed text-base">Savor the rich, chocolatey goodness of our Nutty Chocolate ice cream. Made with premium cocoa and crunchy roasted nuts, it's a delicious treat for any chocolate lover!</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://img.freepik.com/free-photo/colorful-summer-treat-melting-ice-cream-generative-ai_188544-12424.jpg" alt="content">
            <h3 class="tracking-widest text-[#c06c84] text-xs font-medium title-font">Rainbow IceCream</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Cotton Candy</h2>
            <p class="leading-relaxed text-base">Delight in the whimsical sweetness of our Cotton Candy ice cream. This treat captures the essence of the carnival with its fluffy, cotton candy flavor. It's a fun and delicious way to indulge your sweet tooth!</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTm3dtiXZrTS_0Xbdy8EHJmQm1pJqOTOob7lCUmkkxBkr5_IHlVVnuu8oYFt8hktAvqUKc&usqp=CAU" alt="content">
            <h3 class="tracking-widest text-[#c06c84] text-xs font-medium title-font">Strawberry</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Berries Flavour</h2>
            <p class="leading-relaxed text-base">Experience the fresh and fruity delight of our Strawberry ice cream. Made with ripe, juicy strawberries, every spoonful is bursting with flavor. It's a classic treat that's perfect for any time of year!</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJxa6Lmlf3oeKIJFMktjYUWUqPLSzs5XjdjLridR9EvScvzIef-VoT54wFJhC04dWP1mk&usqp=CAU" alt="content">
            <h3 class="tracking-widest text-[#c06c84] text-xs font-medium title-font">Vanilla</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">French Vanilla</h2>
            <p class="leading-relaxed text-base">Savor the classic simplicity of our Vanilla ice cream. Made with the finest vanilla beans, it's a creamy and indulgent treat that never goes out of style. Perfect on its own or as a base for your favorite toppings!</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock content %}