{% extends "base.html" %}
{% block content %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Sweet Bliss Scoops: Indulge in Happiness!</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Sweet Bliss Scoops invites you to experience a world of sweet delights. Our handcrafted ice creams are made with the finest ingredients, creating a creamy and luxurious treat that will tantalize your taste buds. Whether you're craving a classic flavor or feeling adventurous with one of our unique creations, each scoop is a journey of pure bliss. Come and treat yourself to a moment of happiness at Sweet Bliss Scoops!</p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://t4.ftcdn.net/jpg/05/72/93/19/360_F_572931933_zM6Ts8mAzFQaifd0cmTeTthxnvEl5CpT.jpg">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">BERRIES</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Black Cherry</h1>
              <p class="leading-relaxed">Smooth cherry-flavored ice cream with real chunks of black cherries, providing a burst of fruity sweetness in every spoonful.</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://wallpapers.com/images/featured/ice-cream-background-gudzr50hbe61ehdb.jpg">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">COFFEE</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Chocolate Coffee Crunch</h1>
              <p class="leading-relaxed">Rich coffee-flavored ice cream with crunchy bits of chocolate or toffee, offering a delightful caffeine kick with a sweet twist.</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://img.freepik.com/free-photo/colorful-summer-treat-melting-ice-cream-generative-ai_188544-12424.jpg">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">COLOURFUL</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Neapolitan</h1>
              <p class="leading-relaxed">A trio of classic flavors in one package, featuring layers of vanilla, chocolate, and strawberry ice cream for a variety of tastes in each bite.</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTm3dtiXZrTS_0Xbdy8EHJmQm1pJqOTOob7lCUmkkxBkr5_IHlVVnuu8oYFt8hktAvqUKc&usqp=CAU">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">STRAWBERRY</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Strawberry  Cheesecake</h1>
              <p class="leading-relaxed">Creamy cheesecake-flavored ice cream with swirls of strawberry sauce and chunks of real cheesecake, offering a deliciously fruity and creamy experience.</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJxa6Lmlf3oeKIJFMktjYUWUqPLSzs5XjdjLridR9EvScvzIef-VoT54wFJhC04dWP1mk&usqp=CAU">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">VANILLA</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">French Vanilla</h1>
              <p class="leading-relaxed">Pure, creamy, and classic, our Vanilla ice cream is a timeless favorite. Made with real vanilla beans, it's a simple pleasure that never fails to satisfy.</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZOMfkCRF_XTh15ghgfgbtoRrb13eMLSdU0A&usqp=CAU">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">MINT</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Mint Choco chips</h1>
              <p class="leading-relaxed">Refreshing mint-flavored ice cream generously mixed with chocolate chips, creating a cool and indulgent treat.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
